.outer-container {
  height: 100vh;
}

.default-padding {
  padding: 5px;
}

.purple-box {
  background-color: purple;
}

.salmon-box {
  background-color: salmon;
  align-items: center;
}

.dodger-blue-box {
  background-color: dodgerblue;
}

.grey-box {
  background-color: gainsboro;
  min-width: fit-content;
}

.yellow-box {
  background-color: yellow;
}

.green-box {
  background-color: greenyellow;
  color: red;
  margin: 2px;
}

.green-box:hover {
  background-color: cornflowerblue;
}

.powder-blue-box {
  background-color: powderblue;
  margin: 4px;
}

.powder-blue-box:hover {
  background-color: teal;
}

.aquamarine-box {
  background-color: aquamarine;
}

h1 {
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 0px;
}

h6 {
  margin-bottom: 0px;
}

a:hover {
  color: pink;
  background-color: darkgoldenrod;
}

h1:hover {
  background-color: tan;
}

h4:hover {
  background-color: aliceblue;
}

h6:hover {
  background-color: cornflowerblue;
}

footer:hover {
  background-color: darkcyan;
}

.on-the-right {
  margin-left: auto;
}
