.outer-container {
  height: 100vh;
}

.default-padding {
  padding: 5px;
}

.header-container {
  background-color: whitesmoke;
  align-items: center;
}

.main-container {
  flex: 1 1 auto;
  background-color: dodgerblue;
}

.sidebar-container {
  background-color: whitesmoke;
  min-width: fit-content;
}

.content-container {
  background-color: whitesmoke;
}

.content-item-container {
  background-color: rgb(235, 235, 235);
  margin: 2px;
}

.content-item-container:hover {
  background-color: rgb(225, 225, 225);
}

.sidebar-item-container {
  background-color: rgb(235, 235, 235);
  margin: 4px;
}

.sidebar-item-container:hover {
  background-color: rgb(225, 225, 225);
}

.footer-container {
  background-color: whitesmoke;
}

h1 {
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

h4 {
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

h6 {
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

.on-the-right {
  margin-left: auto;
}

btn {
  margin-left: 4px;
  margin-right: 4px;
}