.flex-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.flex-child {
  display: flex;
  padding: 5px;
}

.purple-box {
  background-color: purple;
  flex-direction: column;
}

.salmon-box {
  background-color: salmon;
}

.sky-blue-box {
  background-color: skyblue;
  flex-direction: row;
  overflow-y: scroll;
}

.blue-box {
  background-color: dodgerblue;
}

.grey-box {
  flex-direction: column;
  background-color: gainsboro;
  overflow-y: scroll;
}

.red-box {
  background-color: red;
}

.yellow-box {
  flex-direction: row;
  align-content: flex-start;
  background-color: yellow;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.green-box {
  align-items: flex-start;
  background-color: greenyellow;
  color: red;
}

.green-box:hover {
  background-color: cornflowerblue;
}

.powder-blue-box {
  background-color: powderblue;
  margin: 4px;
  border-color: rosybrown;
}

.powder-blue-box:hover {
  background-color: teal;
}

.aquamarine-box {
  background-color: aquamarine;
}

a:hover {
  color: pink;
}

h1:hover {
  background-color: tan;
}
